/*Google Fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap');

:root {
    --primary-font:'Instrument Sans', sans-serif; 
    --secondary-font:'Quicksand' , cursive;
    --primary-color: #3a5532; /*dark green*/
    --secondary-color: #a9e2bc; /*lighter green*/
    --highlight-color: #4e511a; /*darkish yellow*/
    --highlight-color-light:#f3f99f; /*light yellow*/


}
/*Global styles*/
h1,
h2,
h3 {
    font-family: var(--primary-font) 
}

body {
    font-family: var(--secondary-font);
    min-height: auto;
    flex-direction: column;
}

p {
    margin-top: 0;
    margin-bottom: 2px;
}
/*nav bar*/
#navbar .heading {
    color: var(--highlight-color-light);
}
#navbar .heading:hover {
    color: var(--secondary-color);
}
#navbar {
    background-color: var(--primary-color);

}
#navbar .nav-link {
    color:white;
    word-spacing: 6px;
    letter-spacing: 0.5px;
}
#navbar .navbar-brand {
    color: white;
    letter-spacing: 3px; 
    font-weight: 600;
    font-size: 20px;
}
.nav-item {
    font-family: var(--secondary-font);
    text-spacing-trim: 2 px;
}
/*hero*/
.hero {
  position: relative;
  width: 100%;
  height: 90vh; 
  overflow: hidden;
}
.hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover; 
  object-position: center; 
  filter: brightness(80%); 
  margin-top: 0rem;
}

/*text over picture*/
#meditation {
  text-decoration:underline;
  text-underline-offset: 6px; 
  text-decoration-thickness: 1px;
  text-transform: uppercase;
}

/*Transparent box in main*/
.hero-text {
  position: absolute;
  top: 50%;
  left: 525px;
  transform: translate(-50%, -50%);
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  padding: 20rem 27rem;
  border-radius: 60px;
  max-width: 700px;
 
}

.hero-text h1 {
  font-family: var(--primary-font);
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.hero-text p {
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  color: white;
}
/*About section*/
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;   
  max-width: 1300px;       
  margin: 0 auto; 
  padding: 40px 0;
  gap: 60px;
}


.about-image {
  width: 220px;
  height: auto;
  border-radius: 75px;
  object-fit: cover;
}


.about-image.top {
  align-self: flex-start;
}


.about-image.bottom {
  align-self: flex-end;
}


.about-text {
  flex: 1;
  text-align: center;
}

.about-text h2 {
  margin-bottom: 1rem;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 600;
}

/*Team section*/
.team-section {
  margin-top: 90px;
}
.team {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 5px;
  margin-top: 5px;
}
/*Buttons*/
.custom-button-filled {
border: 0.5px solid var(--highlight-color-light);
background-color: var(--secondary-color);
color:black;
margin-left: 2px;
margin-right: 2px;
}
.custom-button-filled:hover {
border: 0.5px solid var(--highlight-color-light);
background-color:var(--highlight-color-light);
color:black;
margin-left: 2px;
margin-right: 2px;
}
.custom-button-outline {
margin-top: 1rem;
border: 2px solid var(--highlight-color-light);
background-color: rgba(0, 0, 0, 0.6);
color: white;
margin-left: 2px;
margin-right: 2px;
}
.custom-button-outline:hover {
margin-top: 1rem;
border: 2px solid var(--highlight-color-light);
background-color:var(--secondary-color);
color: black;
margin-left: 2px;
margin-right: 2px;
}
.custom-button-outline-white {
margin-top: 1rem;
border: 4px solid var(--secondary-color);
background-color: transparent;
color: black;
margin-left: 2px;
margin-right: 2px;
}
.custom-button-outline-white:hover {
margin-top: 1rem;
border: 4px solid var(--secondary-color);
background-color: var(--highlight-color-light);
color: black;
margin-left: 2px;
margin-right: 2px;
}

/*About section*/
#about {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: auto;
}

/*Cards*/
.team-cards {
  gap: 4 rem;

}
.card {
  border: none;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card-img-top {
  height: 300px;      
  object-fit: cover;   
}

.card .btn {
  align-self: center;
  width: auto;
  min-width: 120px;
}

/*Footer*/
#contact {
    background-color: var(--primary-color);
    color: white;
    margin-top: 2rem;
}
#contact .social-links {
    color: var(--highlight-color-light);
}
.sub-heading-color {
    color: white;
}
#contact i {
    margin-right: 6px;
    color: var(--highlight-color-light);
}
#contact .social-links i {
     color: var(--highlight-color-light);
     font-size: 2rem;
}
#contact .social-links i:hover {
    color: var(--secondary-color);
    text-align: justify;
}

 /*media queries*/

    /*medium devices (tablets and 768px up)*/
    @media screen and (min-width: 768px) {
    .hero {
    height: 70vh; 
    background-position: center top;
  }
 .hero-text {
    padding: 1rem 1.5rem;
    max-width: 90%;
  }
  .hero-text h1 {
    font-size: 2rem;
  }
  .hero-text p {
    font-size: 1rem;
  }
    }
    /*medium devices (small laptops and 992px up)*/
    @media screen and (min-width: 992px) { 
    .hero {
    height: 80vh; 
    background-position: top; 
  }
    }

     /*medium devices (small laptops and 1200px up)*/
    @media screen and (min-width: 1200px) {}
    
     /*medium devices (small laptops and 1400px up)*/
    @media screen and (min-width: 1400px) {}